<h1>Edit Comment:</h1>

<blockquote>
<p><%= @comment.content%></p>
<footer><%= link_to @comment.creator_name, user_path(@comment.creator_id) %></footer>
</blockquote>


<%= render partial: 'comment_form' %>