// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.slide {
	display: none;
}

.add_things{
	display: inline-block;
	text-align: center;

}
#add_photos_div {
	width: 50%
}

#add_comments_div {
	padding-left: 15%
}

#photo_drop_down {
	padding-top: 15px;
	padding-left: 7%;
	display: none;
	text-align: center;

}

#comment_drop_down {
	padding-top: 15px;
	// padding-left: 5%;
	display: none;
	text-align: center;

}

blockquote {
	// background-color: white;
	background-color: #9FFFC3;
}

.info_box {
	// background-color: white
	background-color: #9FFFC3;
}

.photo_row {
	background-color: #9FFFC3;
	padding-left: 10%
}


