// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainNav {
  background-color: #9FFFC3;
  border-radius: 0;
  // background-color: grey;
}

.main.container {
  margin-top: 3em;
}